.background_image_portfolio {
     background: url("../assets/Portfolio_Banner-min.png") center center no-repeat;
  background-size: cover;
  position: relative;
}
.background_image_portfolio:before {
         content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
 background-color: rgba(51, 87, 130, 0.85);
}
.portfolio_banner_content {
	text-align: center;
	color: #fff;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: normal;
}
.portfolio_sub_section {
	padding: 0 15%;
    text-align: center;
    /*letter-spacing: 1px;*/
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
}
.dot {
  height: 8px;
  width: 8px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: -5px;
}
.portfolio-subheading p{
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0 18%;
}
.portfolio_rectangle {
	    background: #f1f9ff;
    padding: 2rem;
    width: 349px;
    height: 340px;
    border-top: 2px solid #f7f7f7;
}
.portfolio_list_content ul {
    text-align: center;
}
.portfolio_modal_content {
    background: #fff;
    border-radius: 0;
}
.portfolio_modal_content .lni-close {
     font-size: 28px;
    width: 25px;
    height: 27px;
    color: #11193e;
    cursor: pointer;
}
.new_portfolio_flex_container_display {
     display: inherit;
}
.new_portfolio_content img {
    width: 25%;
}
.new_portfolio_rectangle {
    /* opacity: 0.95; */
    background-color: #fafafa;
    border: 1px solid #d5d3d3;
    padding: 2rem 4rem;
    /* width: 306px; */
    height: 290px;
    position: absolute;
    bottom: 100%;
    /* z-index: 2; */
    width: 101%;
    /* margin-top: -306px;*/        
    height: 720px;

}
.new_portfolio_rectangle .lni-close{
   font-size: 28px;
    width: 25px;
    height: 27px;
    /*background-color: #fff;*/
    /*border-radius: 50%;*/
    position: relative;
    top: -5px;
    /*right: 30px;*/
    float: right;
    cursor: pointer;
    /*background-size: 24px 24px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
   color: #11193e;
  }
  .new_portfolio_rectangle .new_portfolio_content {
    padding: 0 8rem;
    color: #4a4a4a;
    line-height: 1.5rem;
  }

.portfolio_rectangle .crm_img_class_margin {
    margin-top: 9%;
}
.portfolio_rectangle .manhatan_img_margin {
    margin-top: 35%;
}
.portfolio_rectangle .appnomic-img {
    margin-top: 35%;
}
.portfolio_rectangle .elastic_run_image {
    margin-top: 35%;
}
.portfolio_rectangle:hover {
	    border-top-color: #28508b;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    cursor: pointer; 
}
.portfolio_rectangle img {
	    margin: 0 auto;
    display: block;
    margin-top: 30%;
    width: 70%;
}
.portfolio_rectangle .cap_img {
    margin-top: 9%;
}
.portfolio_modal_header {
    float: right;
}
.portfolio_rectangle {
    margin: 10px 0;
}
.website_url_container {
    padding-top: 20px;
}
.portfolio_meet_end_btn_spec:focus {
  background: #28508b!important;
  border: solid 1px #28508b!important;
  box-shadow: 0 0 0 0.2rem rgba(48,80,139,.8)!important;
  color : #fff!important; 
}
.portfolio_meet_end_btn_spec:active {
  background: #28508b!important;
  border: solid 1px #28508b!important; 
}
.portfolio_meet_end_btn_spec:not(:disabled):not(.disabled).active:focus, .portfolio_meet_end_btn_spec:not(:disabled):not(.disabled):active:focus, .show>.portfolio_meet_end_btn_spec.dropdown-toggle:focus {

        color: #fff!important;

}

@media screen and (min-width: 320px) and (max-width: 568px), (min-device-width: 320px) and
(max-device-width: 568px) and (orientation : landscape) {
.background_image_portfolio {
    height: 100vh;
}
}
@media screen and (min-width: 360px) and (max-width: 640px), (min-device-width: 360px) and
(max-device-width: 640px) and (orientation : landscape) {
.background_image_portfolio {
    height: 100vh;
}
}
@media screen and (min-width: 600px) and (max-width: 960px), (min-device-width: 600px) and
(max-device-width: 960px) and (orientation : landscape) {
.background_image_portfolio {
    height: 100vh;
}
}
@media screen and (max-width: 600px), (min-device-width: 600px) and (max-device-width: 960px) and (orientation : portrait) {
.background_image_portfolio {
    height: 50vh;
}
}
@media screen and (min-width: 768px) and (max-width: 1024px), (min-device-width: 768px) and
(max-device-width: 1024px) and (orientation : landscape) {
.background_image_portfolio {
    height: 100vh;
}
.portfolio_rectangle {
    width: 100%;
}
}
@media only screen and (min-width : 320px) and (max-width : 764px) {
    .portfolio_rectangle {
        width: auto;
        height: auto;
    }
    .portfolio_rectangle img {
    margin-top: 0;
    }
    .portfolio_rectangle .crm_img_class_margin {
    margin-top: 0;
}
.portfolio_rectangle .manhatan_img_margin {
    margin-top: 0;
}

}

@media (min-width: 320px) and (max-width: 480px) {
    .background_image_portfolio{
        padding-top: 135px;
        height: 100vh;
    }
    .portfolio_sub_section {
        padding: 0;
        width: 90%;
        margin: 0 auto;
        text-align: left;
        margin-bottom: 20px;
        font-size: 1rem;
    }

    .portfolio_banner_content {
        font-size: 1rem;
        width: 90%;
        margin: 0 auto;
        line-height: 2;
        text-align: left;
    }

    .portfolio-subheading p {
        width: 90%;
        padding: 0 ;
        margin: 0 auto;
        font-size: 1rem;
        line-height: 1.5;
    }
}
/*@media only screen and (min-width : 320px) and (max-width : 480px) {
	   .portfolio_rectangle {
    margin : 10px 0;
}
}
@media only screen and (min-width : 760px) and (max-width : 900px) {
	.portfolio_rectangle {
		margin : 0 10px;
	}

}*/