.background_image_team {
	  background: url("../assets/Team_Banner-min.png") center center no-repeat;
  background-size: cover;
  position: relative;
}
.background_image_team:before {
        content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
 background-color: rgba(51, 87, 130, 0.9);
}
.team_banner_text .home-content {
	margin-top: 3rem;
}
.team_sub_section {
	padding: 0 10%;
    text-align: center;
    letter-spacing: 1px;
    font-size: 22px;
    line-height: 1.5;
    font-weight: 400;
}
.team_rectangle {
	  width: 255px;
	  padding: 2rem;
  height: 243px;
  background-color: #f1f9ff;
   border-top: 2px solid #f7f7f7;
   color: #28508b;
}
.team_rectangle:hover {
	    border-top-color: #28508b;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    cursor: pointer; 
}
.team_rectangle .ethos-title {
	color: #28508b;
	font-size: 28px;
}
.team_rectangle .ethos-content {
	color: #28508b;
}
.team_modal_content {
	background: #f0f0f0;
	border-radius: 0;
}
.team_modal_content .modal-title {
	color : #28508b;
	font-size : 30px;
	font-weight: 600;
}
.team_modal_content .lni-close {
	 font-size: 28px;
    width: 25px;
    height: 27px;
    color: #11193e;
    cursor: pointer;
}
.team-modal-para-detail p {
	color: #4a4a4a;
	font-size: 1rem;
}
.team_avataar_media_end_btn_spec:focus {
  background: #28508b!important;
  border: solid 1px #28508b!important;
  box-shadow: 0 0 0 0.2rem rgba(48,80,139,.8)!important;
  color : #fff!important; 
}
.team_avataar_media_end_btn_spec:active {
  background: #28508b!important;
  border: solid 1px #28508b!important; 
}
.team_avataar_media_end_btn_spec:not(:disabled):not(.disabled).active:focus, .team_avataar_media_end_btn_spec:not(:disabled):not(.disabled):active:focus, .show>.team_avataar_media_end_btn_spec.dropdown-toggle:focus {

        color: #fff!important;

}


/*@media only screen and (min-width : 320px) and (max-width : 480px) {
	   .team_rectangle {
    margin : 10px 0;
}
}*/
@media screen and (max-width: 320px), (min-device-width: 320px) and (max-device-width: 480px) and (orientation : portrait) {
.team_banner_text .home-content {
	margin-top: 0;
}
.team_sub_section {
	font-size: 1rem;
	padding: 0;
}
.team_rectangle {
	margin : 10px 0;
}
.team_component_btn .btn{
	width: 90%;
	margin-top: 0;
}
}
@media screen and (min-width: 320px) and (max-width: 480px), (min-device-width: 320px) and
(max-device-width: 480px) and (orientation : landscape) {
.team_rectangle {
	margin : 10px 0;
}
.team_component_btn .btn{
	width: 90%;
	margin-top: 0;
}
}
@media screen and (min-width: 320px) and (max-width: 568px), (min-device-width: 320px) and
(max-device-width: 568px) and (orientation : landscape) {
.background_image_team {
	height: 100vh;
}
.team_banner_text .home-content {
	margin-top: 0;
}
.team_sub_section {
	font-size: 1rem;
	padding: 0;
}
.about_btn_center .btn {
	/*width: 95%;
	font-size: 18px;*/
	margin-top: 0;
}
}
@media screen and (min-width: 360px) and (max-width: 640px), (min-device-width: 360px) and
(max-device-width: 640px) and (orientation : landscape) {
.background_image_team {
	height: 100vh;
}
.team_banner_text .home-content {
	margin-top: 0;
}
.team_sub_section {
	font-size: 1rem;
	padding: 0;
}
}
@media screen and (min-width: 600px) and (max-width: 960px), (min-device-width: 600px) and
(max-device-width: 960px) and (orientation : landscape) {
.background_image_team {
	height: 100vh;
}
}
@media screen and (max-width: 600px), (min-device-width: 600px) and (max-device-width: 960px) and (orientation : portrait) {
.background_image_team {
	height: 40vh;
}
}
@media screen and (min-width: 768px) and (max-width: 1024px), (min-device-width: 768px) and
(max-device-width: 1024px) and (orientation : landscape) {
.background_image_team {
	height: 100vh;
}
}
@media screen and (max-width: 768px), (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) {
.background_image_team {
	height: 60vh;
}
}
@media only screen and (min-width : 320px) and (max-width : 764px) {
	.parent_team_img_container {
		width: auto;
		height: auto;
	}
	.team_rectangle {
		width: auto;
		height: auto;
		text-align: center;
	}
	.team_rectangle .ethos-title {
		margin-top: 0;
	}
	.people_flex_container {
		display: block;
	}
}

/*@media only screen and (min-width : 760px) and (max-width : 900px) {
	.team_rectangle {
		margin : 0 10px;
	}

}*/
