.background_image_team {
	  background: url("../assets/Team_Banner-min.png") center center no-repeat;
  background-size: cover;
  position: relative;
}
.background_image_team:before {
        content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
 background-color: rgba(51, 87, 130, 0.9);
}
.team_sub_section {
	padding: 0 15%;
    text-align: center;
    letter-spacing: 1px;
}
.team_rectangle {
	  width: 255px;
	  padding: 2rem;
  height: 243px;
  background-color: #f1f9ff;
   border-top: 2px solid #f7f7f7;
   color: #28508b;
}
.team_rectangle:hover {
	    border-top-color: #28508b;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    cursor: pointer; 
}
.team_rectangle .ethos-title {
	color: #28508b;
}
.team_rectangle .ethos-content {
	color: #28508b;
}

/*@media only screen and (min-width : 320px) and (max-width : 480px) {
	   .team_rectangle {
    margin : 10px 0;
}
}*/
@media only screen and (min-width : 320px) and (max-width : 764px) {
	.parent_team_img_container {
		width: auto;
		height: auto;
	}
	.team_rectangle {
		width: auto;
		height: auto;
		text-align: center;
	}
	.team_rectangle .ethos-title {
		margin-top: 0;
	}
	.people_flex_container {
		display: block;
	}
}

/*@media only screen and (min-width : 760px) and (max-width : 900px) {
	.team_rectangle {
		margin : 0 10px;
	}

}*/
