/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media only screen (min-width: 320px) and (max-width: 480px) {
  .banner_text {
    margin-top: 3rem !important; }
  .home_section {
    padding-top: 7rem;
    width: 100%; }
    .home_section h1 {
      font-size: 22px;
      font-weight: 600; }
  .people_flex_container {
    flex-direction: column;
    align-items: center; }
  .ethos-flex-container > div {
    flex: auto;
    margin-bottom: 2rem; }
  .ethos-title {
    line-height: initial;
    margin-top: 0.5rem; }
    .portfolio_rectangle {
    margin : 10px 0;
}
  .team_rectangle {
    margin : 10px 0;
}
  .arrow {
    display: none; }
  .background_image {
    height: 45rem; }
  .blog_section {
    padding: 2rem;
    margin-top: 1rem; }
  .logo {
    width: 70%; }
  .navbar {
    /*display: none !important;*/
    z-index: 999; }
  .card_width {
    width: inherit;
    padding: 1em;
    margin-top: 3rem;
    margin: 0 auto; }
  .card_wrapper {
    width: 80%; }
  h3 {
    font-size: 1.5rem; }
  .inverted_line {
    height: 112rem; }
  .mobile_logo img {
    display: block;
    float: right;
    opacity: 1;
    position: absolute;
    right: 10px;
    z-index: 9;
    width: 50%;
    top: 30px; }
  * {
    box-sizing: border-box; }
  #page-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; }
  #title {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em; }
  #btn {
    position: fixed;
    z-index: 15;
    top: 55px;
    left: 15px;
    cursor: pointer;
    transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91); }
    #btn div {
      width: 30px;
      height: 2px;
      margin-bottom: 8px;
      background-color: white;
      transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, background-color 250ms; }
    #btn .add_harmburger_color {
      background-color: black; }
  #btn.active {
    left: 135px; }
    #btn.active div {
      background-color: black; }
    #btn.active #top {
      transform: translateY(10px) rotate(-135deg); }
    #btn.active #middle {
      opacity: 0;
      transform: rotate(135deg); }
    #btn.active #bottom {
      transform: translateY(-10px) rotate(-45deg); }
  #box {
    position: fixed;
    z-index: 10;
    overflow: auto;
    top: 0px;
    left: -275px;
    width: 190px;
    opacity: 0;
    padding: 20px 0px;
    height: 100%;
    background-color: white;
    color: black;
    transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91); }
  #box.active {
    left: 0px;
    opacity: 1; }
  #items {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    #items a {
      text-decoration: none;
      color: #3f4147; }
    #items .item {
      position: relative;
      cursor: pointer;
      font-size: 1.2em;
      font-family: "Montserrat", sans-serif;
      padding: 15px 30px;
      transition: all 250ms; }
      #items .item:hover {
        padding: 15px 45px;
        background-color: rgba(0, 0, 0, 0.2); }
    #items .background_image {
      background-position: 0% bottom !important; }
  .sub_section {
    font-size: 15px; }
  .stakeholder-head {
    flex-direction: column; }
  #btn,
  #btn * {
    will-change: transform; }
  #box {
    will-change: transform, opacity; }
  .contact-item {
    margin-top: 2rem; }
  .contact-wrapper {
    flex-direction: column; }
  .contact_inverted_line {
    height: 48rem; }
  .people_section_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
  .media_card {
    width: 100%; }
  .media_card_height {
    height: unset !important; }
  .footer-head {
    width: 80%; }
  .footer-content {
    flex-direction: column; }
  .modal-body {
    padding: 1rem;
    margin-top: 28px; }
  .stakeholder-img {
    padding: 0.3rem; } }
