@import url('https://cdn.lineicons.com/2.0/LineIcons.css');
.background_image_ethos_main {
	  background: url("../assets/Ethos_Banner-min.png") center center no-repeat;
  background-size: cover;
  position: relative;
  /*height: 100vh;*/
}
.background_image_ethos_main:before {
	 content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
 background-color: rgba(51, 87, 130, 0.85);
}
.ethos_seperate_component_data {
	color: #28508b;
  font-size: 25px;
}
.custom_ethos_component_subheading p{
font-weight: 500;
}
.ethos-framework-para p {
	font-size: 30px;
	font-weight: 600;
	color: #4a4a4a;
}
.ethos_banner_heading {
	letter-spacing: normal;
	font-weight: 600;
  font-size: 48px;
  text-align: center;
}
.ethos_sub_section {
	padding: 0 10%;
	text-align: center;
	letter-spacing: -0.22px;
  font-size: 24px;
    line-height: 1.5;
    font-weight: 400;
}
.expansion_rectangle {
	background: #f1f9ff;
	padding : 2rem;
	width: 306px;
	height: 290px;
	border-top: 2px solid #f7f7f7;
	margin : 10px;
}
.new_expansion_rectangle {
      width: 100%;
    margin-top: 0;
    position: absolute;
    bottom: 100%;
    /*background: #28508b;*/
    /*border-top: 2px solid #f7f7f7;*/
      background: url("../assets/Ethos_Banner-min.png") center center no-repeat;
  background-size: cover;
  /*position: relative;*/
    color: #fff;
    padding : 2rem;
        height: 635px;
}
.new_expansion_rectangle:before {
     content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
 background-color: rgba(18, 27, 66, 0.9);
}
.new_expansion_rectangle .lni-close{
   font-size: 28px;
    width: 25px;
    height: 27px;
    /*background-color: #fff;*/
    /*border-radius: 50%;*/
    position: relative;
    top: -5px;
    /*right: 30px;*/
    float: right;
    cursor: pointer;
    /*background-size: 24px 24px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
    color: #fff;
  }
  .new_expansion_rectangle .ethos_seperate_component_data {
    color: #fff;
  }
.new_flex_container_display {   
 display: inherit;
    /*opacity: 0.8;*/
    width: 59%;
    margin-left: 21%;
}
.expansion_rectangle .ethos-content {
	color: #28508b;
}
.expansion_rectangle .fa-angle-right {
	padding-left: 30px;
}
.expansion_rectangle .Path-2-Copy-3 {

  width: 12px;

  height: 7px;

  object-fit: contain;

  transform: rotate(90deg);

  border: solid 2px #28508b;

}
.expansion_rectangle:hover {
	    border-top-color: #28508b;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    cursor: pointer; 
}
.ethos_btn_center .btn {
  width: 626px;
  height: 68px;
  border: solid 1px #99bcde;
  border-radius: 0;
  color: #28508b;
  font-size: 20px;
  line-height: 33px;
}
.ethos_btn_center .btn:hover {
background: #28508b;
  transition: all ease-in-out 0.3s;
  color: #fff;

}
.flex_btn{
  display: flex;
  align-items: center;
  justify-content: center;
}
.ethos_btn_center .lni-chevron-right {
  /*float: right;*/
  position: relative;
  top: 1px; 
}
.ethos_investment_portfolio_end_btn_spec:focus {
  background: #28508b!important;
  border: solid 1px #28508b!important;
  box-shadow: 0 0 0 0.2rem rgba(48,80,139,.8)!important;
  color : #fff!important; 
}
.ethos_investment_portfolio_end_btn_spec:active {
  background: #28508b!important;
  border: solid 1px #28508b!important; 
}
.ethos_investment_portfolio_end_btn_spec:not(:disabled):not(.disabled).active:focus, .ethos_investment_portfolio_end_btn_spec:not(:disabled):not(.disabled):active:focus, .show>.ethos_investment_portfolio_end_btn_spec.dropdown-toggle:focus {

        color: #fff!important;

}

@media screen and (max-width: 320px), (min-device-width: 320px) and (max-device-width: 480px) and (orientation : portrait) {
.ethos_btn_center .btn {
  width: 100%;
    font-size: 10px;
    height: auto;
    line-height: normal;
}
.new_expansion_rectangle {
      width: 100%;
    height: 1255px;
}
.new_flex_container_display {
  display: inherit;
  width: 100%;
  margin-left: 0;
}

}
@media screen and (min-width: 320px) and (max-width: 480px), (min-device-width: 320px) and
(max-device-width: 480px) and (orientation : landscape) {
.new_expansion_rectangle {
      width: 100%;
    height: 1150px;
}
.ethos_btn_center .btn {
    width: 70%;
    font-size: 11px;
    height: auto;
    line-height: normal;
}
.expansion_rectangle {
  margin: 10px auto;
  text-align: center;
}
}

@media screen and (max-width: 320px), (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {
.ethos_btn_center .btn {
  width: 100%;
    font-size: 10px;
    height: auto;
    line-height: normal;
}
.ethos_btn_center .lni-chevron-right {
  position: relative;
  top: 0px; 
}
.new_expansion_rectangle {
      width: 112%;
    height: 1150px;
}
.expansion_rectangle {
  width: 100%;
}
}
@media screen and (min-width: 320px) and (max-width: 568px), (min-device-width: 320px) and
(max-device-width: 568px) and (orientation : landscape) {
.background_image_ethos_main {
  height: 100vh;
}
.home_section {
  padding-top: 0;
}
.ethos_banner_heading {
  text-align: center;
  font-size: 2rem;
}
.home-content {
  margin-top: 0;
}
.ethos_sub_section {
  padding: 0;
      font-size: 1rem;
    line-height: inherit;
}
.ethos_btn_center .btn {
  width: 60%;
    height: auto;
    line-height: normal;
    font-size: 12px;
}
.new_flex_container_display {
  display: inherit;
  width: 100%;
  margin-left: 0;
}
.expansion_rectangle {
  margin: 10px auto;
  text-align: center;
}
}
@media screen and (max-width: 360px), (min-device-width: 360px) and (max-device-width: 640px) and (orientation : portrait) {
.background_image_ethos_main {
  height: auto;
}
.ethos_btn_center .btn {
  width: 100%;
    height: auto;
    line-height: normal;
    font-size: 10px;
}
}
@media screen and (min-width: 360px) and (max-width: 640px), (min-device-width: 360px) and
(max-device-width: 640px) and (orientation : landscape) {
.background_image_ethos_main {
  height: 100vh;
}
.home_section {
  padding-top: 0;
}
.ethos_banner_heading {
  font-size: 2rem;
  text-align: center;
}
.home-content {
  margin-top: 0;
}
.ethos_sub_section {
  padding: 0;
      font-size: 1rem;
    line-height: inherit;
}
.ethos-framework-para p {
  font-size: 1.5rem;
}
.ethos_btn_center .btn {
  width: 60%;
    height: auto;
    line-height: normal;
    font-size: 11px;
}
.ethos_btn_center .lni-chevron-right {
  position: relative;
  top: 0px; 
}
.new_expansion_rectangle {
      width: 100%;
    height: 1255px;
}
.expansion_rectangle {
  margin: 10px auto;
  text-align: center;
}
}
@media screen and (max-width: 600px), (min-device-width: 600px) and (max-device-width: 960px) and (orientation : portrait) {
.background_image_ethos_main {
  height: auto;
}
}
@media screen and (min-width: 600px) and (max-width: 960px), (min-device-width: 600px) and
(max-device-width: 960px) and (orientation : landscape) {
.background_image_ethos_main {
  height: 50vh;
}
.home_section {
  padding-top: 0;
}
.ethos_banner_heading {
  font-size: 2rem;
  text-align: center;
}
.home-content {
  margin-top: 0;
}
.ethos_sub_section {
  padding: 0;
      font-size: 1rem;
    line-height: inherit;
}
.new_expansion_rectangle {
  height: 585px;
}
.new_flex_container_display {
  width: 100%;
  margin-left: 0;
}
}
@media screen and (min-width: 768px) and (max-width: 1024px), (min-device-width: 768px) and
(max-device-width: 1024px) and (orientation : landscape) {
  .background_image_ethos_main {
  height: 100vh;
}
.new_expansion_rectangle {
  height: 653px;
}
.new_flex_container_display {
  display: inherit;
  width: 100%;
  margin-left: 0;
}
}
@media screen and (max-width: 768px), (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) {
.background_image_ethos_main {
  height: auto;
}

}

@media (min-width: 320px) and (max-width: 480px) {
  .background_image_ethos_main {
    padding-top: 135px;
    height: auto;
  }
  .ethos_banner_heading {
    font-size: 24px;
    text-align: left;
    width: 90%;
    margin: 0 auto;
  }
  .ethos_sub_section{
    width: 90%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.7;
    text-align: left;
    padding-bottom: 100px;
  }
  .ethos-subheading{
    padding: 0 5%;
  }
  .ethos-framework-para p {
    font-size:  1rem;
  }
  .ethos_btn_center .btn {
    font-size: 1rem;
    width: 80%;
    margin: 0 auto;
    padding: 10px 20px;
    height: auto;
    text-align: left;
  }
}

/*@media only screen and (min-width: 320px) and (max-width: 768px) {
.expansion_rectangle {
	margin : 10px auto;
	text-align: center;
}	
.new_flex_container_display {
    display: block;
    width: 100%;
    margin-left: 0
}
.new_expansion_rectangle {
    width: 104%;
    height: 1090px;
}
} 
*/

/*@media only screen and (min-width: 800px) and (max-width : 830px) {
.new_flex_container_display {
    display: block;
    width: 100%;
    margin-left: 0
}	
}

@media only screen and (min-width: 1000px) and (max-width: 1024px) {
.new_flex_container_display {
    display: block;
    width: 70%;
    margin-left: 15%;
}	
}*/
/*@media only screen and (min-width: 500px) and (max-width : 1024px) {
.expansion_rectangle_parent_container_first{
margin: auto
}
}
*/